body {
    font-family: Helvetica, Arial;
    margin: 20px;
    background-color: purple;
    color: yellow;
}
p
/* Class Selectors */

.content {
    background-color: #f2f2f2;
    border: 1px solid #505050;
    color: #505050;
    padding: 10px;
    width: 600px;
}

.smash {
    
    background-color: black;
    border: 1px solid yellow:
    color: purple;
    width: 400px;    
}

.button{
    background-color: yellow;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    width: 150px;
}

/* ID Selectors */


